<tr>
    <th scope="row">1</th>
    <td>{{user.username}}</td>
    <td>{{song.song_name}}</td>
    {{!- Sum of length until this person:}}
    <td>{{length}}</td>
    <td><button id="{{id}}">Song Completed?</button></td>
    {{!-- {{#if user.id = session.user_id}}
    <button id="{{user.id}}">Delete Request</button>
    {{/if}} --}}
</tr>