<div>
  <h1 class="text-center text-light display-4">View The Queue To Sing:</h1>
</div>
{{debug queue}}
{{#if queue.length}}
<table class=" mt-5 table table-striped bg-light border-dark rounded">
    <thead>
      <tr>
        <th scope="col" id="numberId">#</th>
        <th scope="col" id="userNameId">Name</th>
        <th scope="col" id="SongId">Song Name</th>
        <th scope="col">Singing In...</th>
      </tr>
    </thead>
    <tbody>
      {{#each queue as |queue|}}
        <tr>
          <th scope="row">1</th>
          <td>{{user.username}}</td>
          <td>{{queue.song.song_name}}</td>
          {{!- Sum of length until this person:}}
          <td>{{queue.length}}</td>
          <td><button id="{{queue.id}}">Song Completed?</button></td>
          {{!-- {{#if user.id = session.user_id}}
          <button id="{{user.id}}">Delete Request</button>
          {{/if}} --}}
        </tr>
      {{/each}}
      <tr>
        <th scope="row">2</th>
        <td>{{James}}</td>
        <td>{{Yonaguni}}</td>
        <td>10 min</td>
      </tr>
    </tbody>
</table>
{{/if}}